

@keyframes pulse {

    from {
        box-shadow: 0 0 0 0px ( $darkred .6 );

        background: ( $white .4 ) ;
    }

    to {

        box-shadow: 0 0 0 1000px ;

        background: $darkblue;

    }
}


@keyframes openTop {
    0% {

        transform: translateY(-5px)
        rotate(0deg);
    }

    50% {
        transform: translateY(0px)
        rotate(0deg);
    }

    100% {

        transform: translateY(0px)
        rotate(90deg);
    }
}

@keyframes openMid {
    
    50% {
        transform:(0deg);
    }

    100% {

        transform: (50deg);
    }
}

@keyframes openBtm {
    0% {

        transform: translateY(5px)
        rotate(0deg);
    }

    50% {
        transform: translateY(0px)
        rotate(0deg);
    }

    100% {

        transform: translateY(0px)
        rotate(90deg);
    }
}
@keyframes closeTop {
    0% {

        transform: translateY(-5px)
        rotate(0deg);
    }

    50% {
        transform: translateY(0px)
        rotate(0deg);
    }

    100% {

        transform: translateY(0px)
        rotate(90deg);
    }
}
@keyframes closeMid {
    
    50% {
        transform:(0deg);
    }

    100% {

        transform: (50deg);
    }
}

@keyframes closeBtm {
    0% {

        transform: translateY(5px)
        rotate(0deg);
    }

    50% {
        transform: translateY(0px)
        rotate(0deg);
    }

    100% {

        transform: translateY(0px)
        rotate(90deg);
    }
}
