
$white: #ffffff;
$black: #000000;
$darkred: #990000;
$lightblue: rgb(170, 226, 226);
$green: #66FF99;
$lavander: #9577ff;
$darkblue: hsl(233, 26%, 24%);


@mixin bordered ($color, $width) {

    border: $width solid $color;

}




