
@import "variables";
@import "header";
@import "media";
@import "animations";

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    
}
