
@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, $orange, $green, purple);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $white;
  position: relative;
  z-index: 1;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


h1, 
h2, 
h3, 
h4 {
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  .container-md {
    max-width: 100rem;
    margin: 0 auto;
  }

@media only screen and (max-width: 1200px) {
    .container {
      padding: 0 3rem;
    }
  
    .container-md {
      padding: 0 3rem;
    }
  }
  
  /* Header */


.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.nav {
    padding: 0.8rem 0;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $blue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .nav.fix-nav .nav-link,
  .nav.fix-nav .logo,
  .nav.fix-nav .cart-icon,
  .nav.fix-nav .hamburger {
    color: #fff;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.3rem;
  }
  
  .logo h1 {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 2px $darkred;
    letter-spacing: 1px;
    padding: 1rem;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
  }
  
  .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .nav-link:link,
  .nav-link:visited {
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
  }
  
  .nav-link.icon {
    font-size: 3rem;
  }
  
  .top-nav {
    display: none;
  }
  
  .hamburger {
    display: none;
  }
  
  .cart-icon {
    display: none;
  }

  @media only screen and (max-width: 1980px) and (min-width: 1250px) {
    .menu {
      position: fixed;
      left: 73%;
      
      @include portada;
    }

    .toggler {
      display: hide;
    }
  }
  
  @media only screen and (max-width: 450px) and (min-width: 320px) {
  

    .nav-list {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
    }
  .nav-link.icon {
    display: block;
    display: overflow;
    position: relative;
  }
  
  }  
    
    
.header .hero-img {
    position: absolute;
    bottom: -6%;
    right: 0;
    background-size: auto;
    @include portada;
   
}

.hero-content {
    position: absolute;
    padding: 2rem;
    margin: auto;
    top: 35%;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    justify-content: space-between;
   
    @include fondo;



    h2 {
        color: $white;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: .8rem;
        text-shadow: 1px 1px 0 $darkblue;

    }
    .perfume {
        color: $darkred;
        font-style: bold;
        font-family: 'Lobster Two', cursive;
        text-shadow: 2px 2px 0 #f1f1f1;
    }
    
    h1 span {
        color: $white;
        font-size: 6rem;
        font-weight: 700;
        display: block;
        line-height: 1;
        text-shadow: 3px 2px 0 $darkred;
    }
}

.btn {
    display: inline-block;
    background-color:$orange;
    padding: 1.2rem 4rem;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3rem;
    border-radius: 3px;
    
  
  
    .btn:hover {
    background: rgba($white, 0);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    }
  }
  
  



@media only screen and (max-width: 1980px) {
   .header {
       min-height: 105vh;

       .hero-img {
         min-height: auto;
       }
   }

    .hero-content {
      transform: translate(-3, -50%);
    }
  
    .hero-content h2 {
      font-size: 4rem;
    }
  
    .hero-content h1 span {
      font-size: 6rem;
    }
  }
  .navigation {
    
    height: max-content;

  }
  
  @media only screen and (max-width: 1080px) and (min-width: 800px) {
   .header {
    max-height: 100%; 
    min-height: 50rem;
   
  }
  
    .header .hero-img {
      min-height: 100%;
      
    }
    .hero-content h2 {
        font-size: 4rem;
      }
    
      .hero-content h1 span {
        font-size: 6rem;
      }
  }
  
@media only screen and (max-width: 799px) and (min-width: 250px) {
    .header {
      min-height: 40rem;
    }
  
    .header .hero-img {
      height: 40rem;
    }
  
    .hero-content {
      top: 40%;
      min-height: 5%;
    }
  
    .header .hero-img {
      right: 0%;
      min-height: 5%;
    }
  
    .hero-content h2 {
      font-size: 2rem;
      min-height: 5%;
    }
  
    .hero-content h1 span {
      font-size: 4rem;
      min-height: 5%;
    }
  
    .hero-content a {
      padding: 1rem 3rem;
      
    }
  }




.section {
    padding: 4rem 0 0 0;
}

.advert-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    padding: 1.5rem;
    gap: 4rem;
    
}

.advert-box {
    position: relative;
    color: $white;
    height: 30rem;
    border-radius: 1rem;
    padding: 2rem;
    overflow: hidden;
    z-index: 1;

img {
        position: absolute;
        bottom: 0;
        left: -2%;
        height: 100%;
        z-index: -1;
    }
}

.advert-box:nth-child(1) {
    background-color: $darkred;
}

.advert-box:nth-child(2) {
    background-color: $orange;
}

.advert-box:nth-child(3) {
    background-color: $darkblue;
}

.advert-box .dotted {
    position: relative;
    height: 100%;
    border: 2px dashed $white;
    border-radius: 1rem;
    
    
 .content {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%); 
    } 
}


.advert-box .content h2,h4
{
  font-family: 'Boogaloo', cursive;
  padding: 3rem;
  margin-left: -1rem;    
}
  
.advert-box .content h2 {
    line-height: 1.2;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-shadow: 1px 2px 0px $black;
    padding: -3rem;
}
.advert-box .content h4 {

  font-size: 2.3rem;
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 0px $lightblue;
  padding: 2rem;
}  

/* Items recomendados */

.title {

margin: 4rem 0 7rem 0;
text-align: center;
justify-content: space-between;

@include fondo;

    h1 {
      font-size: 5rem;
      display: inline-block;
      position: relative;
      font-family: 'Lobster', cursive;
      color: $orange;
      text-shadow: 0px 1px 1px $white;
      letter-spacing: 1px;
      height: 700;
      z-index: 0;
    }
}



/*Producto*/

.product-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem 3.2rem;
}

.product {
  height: 48rem;
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.product:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.50);
  transform: translateY(-1rem);
}

.product-header {
  position: relative;
  height: 35rem;
  background-color: #fff;
  transition: all 300ms ease-in-out;
  border-radius: 1rem;
  z-index: 0;
}
.product-header img {

  height: 100%;
  border-radius: 2rem 2rem .5rem .5rem;
  padding-top: 1rem;

  }

.product-footer {

  padding: 1em 1.6rem 1.6rem 1.6rem;

   
  h3   {
  font-size: 2.2rem;
  padding: .2rem;
  color: $darkblue;
  font-family: 'Montserrat', sans-serif;
    }

  .price {
    color: $darkred;
    font-size: 2.3rem;
    padding-top: 7%;
    font-family: 'Montserrat', sans-serif;

  }
} 

.rating {
  color: $orange;
}

.product:hover .product-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 1rem 1rem 0 0;
  background-color: $lightblue;
  transition: all 250ms ease-in-out;
  z-index: 1;
}


.product-header {

.icons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 300ms ease-in-out;
    }

  span {
      background-color: #fff;
      font-size: 2.5rem;
      display: block;
      border-radius: 50%;
      padding: 1.5rem 1.6rem;
      line-height: 2rem;
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }

}


.product-header .icons span i {
  transition: all 150ms ease-in-out;
}

.product-header .icons span:not(:last-child) {
  margin-bottom: 1rem;
}

.product-header .icons span:hover {
  background-color: #fd91ac;
  color: #fff;
}

.product:hover .icons {
  opacity: 1;
  transform: translate(0, -50%) scale(1);
}

.product-header .icons a {
  display: block;
  margin-bottom: 1rem;
}

.barra {
 
  @include barrap;

  h1 {

    padding: .8rem 0 1.1rem 2rem;
    font-size: 4.2rem;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 2px 0px $darkred;
  }
}

//Banner 

.product-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 45rem;
  background-color: $blue;
  bottom: 5%;


.left img {
  object-fit: fill;
  height: 100%;
  
  @include portada;
}

.content h2 {
  color: $orange;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  right: 5%;
}

 .right {
  align-self: center;
  text-align: center;
  padding: 1rem;
  }
}


.content .discount {
  color: $yellow;
  font-size: 7rem;
  text-shadow: 0px 0px 5px $lightorange;

}

 .content h1 span {
  color: #fff;
  font-size: 6.2rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  }
  @media only screen and (max-width: 1980px) {
    
    .product-banner {

      max-height: 45rem;
    
    
    .left img {
      max-height: 45rem;

    }
    .content h1 span {

       font-size: 6.2rem;
       
      }
      .btn {
        padding: 1.5rem 4rem;
        font-size: 2rem;
      }
    }
  }



  @media only screen and (max-width: 996px) {
    .product-banner .content h1 span {
      font-size: 5rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .product-banner {
      grid-template-columns: 1fr;
    }
  
    .product-banner .left {
      display: none;
    }
  
    .product-banner .content h1 span {
      font-size: 4rem;
    }
  
    .product-banner .content h2 {
      font-size: 2rem;
    }
  
    .product-banner .content a {
      padding: 1rem 3rem;
    }
  }
  


 //footer

.footer {
  background-color: $black;
  line-height: 3rem;

  h3,h4 {
    text-align: center;
    justify-content: center;
    padding: .5rem;
    font-family: 'Major Mono Display', monospace;
    font-size: 1rem;
  }
}


//Contact Form

fieldset {
  right: 5rem;
  top: 50%;
  padding: 2rem;
  border: dashed $darkred;
  display: inline-block;
  min-width: 15rem;
  border-radius: 1rem;

  legend {
    top: -50%;
    font-family: 'Lobster', cursive;
    font-size: 3.2rem;
    padding: 1rem;
    text-shadow: 0px 0px 5px $orange;
  }

  .consu {

    border: none;
    border-radius: 0.5rem;
    display: flex;
    padding: 1rem;
  }

  .btfinal {
    
    padding: 0.5rem;
    background-color: $orange;
    font-family: 'Montserrat', sans-serif;
    border-color: #f1f1f1;
    border-radius: 0.5rem;

  }
  
}


//cart button

.cart {
  margin: 10rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 0.5rem;
  color: #fff;
  background-color: #fc7c7c;
  font-weight: normal;
}

td {
  padding: 1rem 0.5rem;
}

td input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

td a {
  color: orangered;
  font-size: 1.4rem;
}

td img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
  box-shadow: 0px 0px 6px #fff;
  border-radius: 1rem;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: column;
  margin-top: 2rem;
}

.total-price table {
  border-top: 3px solid #fc7c7c;
  width: 100%;
  max-width: 35rem;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

@media only screen and (max-width: 567px) {
  .cart-info p {
    display: none;
    }
  }
